<%- include('partials/header') %>


<div class="jumbotron centered">
  <div class="container">
    <i class="fas fa-key fa-3x"></i>
    <h1 class="display-3">Secrets Society</h1>
    <p class="lead">You are not the only one in the world.</p>
    <hr>
    <a class="btn btn-light btn-md" href="/register" role="button">Register</a>
    <a class="btn btn-dark btn-md" href="/login" role="button">Login</a>

  </div>
</div>

<%- include('partials/footer') %>
